.button {
	background-color: #51c4d3;
	border: none;
	color: #132c33;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	transition: 0.4s;
	border-radius: 5px;
	font-family: "Underdog", system-ui;
	font-weight: 900;

	&:hover {
		background-color: #126e82;
		color: #d8e3e7;
		cursor: pointer;
	}
}

.trayContainer {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 200vw;
	right: -300vw;
	transition: 0.2s;
	display: flex;
	align-items: center;
	justify-content: center;

	* {
		color: #303841;
	}

	&.showTray {
		left: 0;
		right: 0;
		background-color: #00000040;
	}

	.tray {
		width: 70%;
		background-color: #ffffff;
		padding: 2rem;
		border-radius: 10px;
		position: relative;
		top: -15%;
		z-index: 10000000;
		display: flex;
		flex-direction: column;

		h4 {
			margin-top: 0;
		}

		> svg {
			position: absolute;
			top: 10px;
			right: 10px;
			font-size: 30px;

			> * {
				color: #1f81c7;
				transition: 0.5s;
			}

			&:hover {
				cursor: pointer;

				> * {
					color: #083250;
				}
			}
		}

		.button {
			margin-top: 1rem;
			align-self: center;
		}
	}
}

input,
select {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	margin-bottom: 1.5rem;
}
