.App {
	background-color: #f7dead;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	font-family: "Underdog", system-ui;
	color: #303841;

	.bgLogo {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		width: 100%;
		opacity: 0.2;
	}

	> header {
		> svg {
			font-size: 30px;
			padding-left: 10px;
		}
	}

	> * {
		padding: 1rem;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}
