@keyframes ckw {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.Leaderboard {
	margin: 0 5%;
	margin-bottom: 2rem;
	padding: 2rem;
	background-color: #eeeeee;
	border-radius: 30px;
	display: flex;
	flex-direction: column;
	align-items: center;
	color: #3a4750;
	font-weight: 500;

	.spinner {
		font-size: 30px;
		animation: ckw 2s;
	}

	.header {
		display: flex;
		font-size: 1.5rem;
		font-weight: bold;
		margin-bottom: 1rem;

		svg {
			padding-right: 10px;
		}
	}

	.grid {
		width: 80%;

		em {
			font-weight: 900;
			font-style: normal;
		}

		.headerRow {
			font-size: 1.1rem;
			font-weight: 900;
		}

		.headerRow,
		.gridItem {
			display: grid;
			grid-template-columns: 5% 25% 50% 20%;
			padding-bottom: 10px;
		}

		.gridItem {
			position: relative;

			.medal {
				position: absolute;
				left: -20px;
				font-size: 20px;
			}

			.gold {
				color: gold;
			}

			.silver {
				color: silver;
			}

			.bronze {
				color: #804a00;
			}
		}
	}
}
